.container {
    margin: 0px;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
}

.contentContainer {
    margin: auto;

}

.content {
    padding: 3em 4rem;
    background-color: white;
    border: 1px var(--border-color) solid;
    border-radius: 6px;
}

.title {
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.selection {
    width: 100%;
    margin: 1rem 0;
    font-size: 0.85rem;
    font-weight: 500;
    height: 2rem;
}

.submit {
    background-color: rgb(68, 163, 68);
    color: white;
    padding: 0.5rem;
    border-radius: 6px;
    border: 2px rgb(45, 138, 45) solid;
    font-size: 0.85rem;
    font-weight: 600;
    transition: filter 300ms;
}

.dismiss {
    float: right;
    background-color: transparent;
    border: none;

}

.caseInput {
    height: 1rem;
    padding: 5px 10px;
    font-size: 0.75rem;
    font-weight: 500;
    background-color: white;
    border-radius: 6px;
    border: 2px var(--border-color) solid;
    margin: 15px auto;
    width: 100%;
}

.caseInput:focus {
    border: 2px rgb(3, 102, 214) solid;
}

.subTitle {
    font-size: 0.7rem;
    margin-bottom: 10px;
}