.toastContainer {
    min-width: 300px;
    margin-left: -150px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 10px;
    font-size: 12px;
    font-weight: 300;
}

.toast {
    margin: 0px;
    margin-bottom: 10px;
    background-color: rgba(253, 103, 103, 0.966);
    border: 2px rgb(212, 58, 58) solid;
    border-radius: 6px;
    padding: 16px;

    transition: all 0.2 ease-in;
}