.container {
    width: calc(100% - 30px);
    padding: 15px;
    margin: 0;
    /* max-height: 50%; */
    /* padding-bottom: 1rem; */
    border-bottom: 0.5px var(--border-color) solid;
    overflow: auto;
}

.container::-webkit-scrollbar {
    width: 6px;
}
  
.container::-webkit-scrollbar-track {
    background: inherit;
}

.container::-webkit-scrollbar-thumb {
    background-color: rgba(173, 173, 173, 0.541);  
    border-radius: 20px;
    border: none;
}

.contentContainer {
    display: grid;
    grid-auto-flow: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
}

.title {
    font-weight: 700;
    font-size: 1rem;
    /* text-align: left; */
    width: 100%;
    margin-bottom: 0.75rem;
}

.buttonStyle {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 0.75rem;
    min-width: 100px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    border: none;
    transition: background-color 400ms ease-out;
    transition: filter 200ms;
    margin: 4px;
    outline: none;
}

.buttonStyle:hover {
    /* background-color: #def; */
    filter: brightness(0.98);
}

.activityButton {
    background-color: rgb(224, 240, 255);
    color: rgb(3, 102, 214);
}

.redButton {
    background-color: rgb(255, 203, 203);
    color: rgb(226, 52, 52);
}

.greenButton {
    background-color: rgb(203, 255, 210);
    color: rgb(19, 160, 31);
}

.disabledButton {
    background-color: rgb(245, 245, 245);
    color: rgb(112, 112, 112);
}

.smallButton {
    font-size: 0.65rem;
}

.row {
    display: flex;
    flex-direction: row;
}